# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react

# Ignore Python cache files
**/__pycache__/
*.pyc
*.pyo

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch
# react

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# End of https://www.toptal.com/developers/gitignore/api/react
config.json

venv

search_app_ios/search-app-ios-Info.plist

# swift
# Xcode 관련 파일들
.DS_Store
UserInterfaceState.xcuserstate
xcuserdata/

# 빌드 결과물
build/
DerivedData/

# Xcode가 생성하는 로그 파일
*.xcactivitylog
*.xcdebugger
*.xccheckout
*.xcscmblueprint

# iOS 및 macOS 파일들
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm
Package.resolved
.build/

# CocoaPods 관련
Pods/
Podfile.lock

# Carthage 관련
Carthage/Build/

# Fastlane 관련
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
