.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
  }
  
  .search-input {
    width: 70%;
    padding: 10px;
    font-size: 18px;
    margin: 20px 0;
    border: 1px solid #dcdcdc;
    border-radius: 24px 0 0 24px; /* 왼쪽 모서리 둥글게 */
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    outline: none;
  }
  
  .search-input:focus {
    border-color: #4285f4;
  }
  
  .search-button {
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #dcdcdc;
    border-left: none; /* 입력 창과 버튼 사이의 경계선 제거 */
    border-radius: 0 24px 24px 0; /* 오른쪽 모서리 둥글게 */
    cursor: pointer;
    height: 43px; /* 입력 창 높이와 일치시킴 */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-button:hover {
    background-color: #f1f1f1;
  }
  
  .search-icon {
    width: 24px; /* 아이콘 크기 조정 */
    height: 24px;
  }
  