curl -X PUT "localhost:9200/notice_index" -H 'Content-Type: application/json' -u elastic:<Pw> -d'
{
  "mappings": {
    "properties": {
      "id": {
        "type": "integer"
      },
      "url": {
        "type": "keyword"
      },
      "title": {
        "type": "text",
        "fields": {
          "keyword": {
            "type": "keyword",
            "ignore_above": 256
          }
        }
      },
      "content": {
        "type": "text"
      },
      "category": {
        "type": "keyword"
      },
      "site": {
        "type": "keyword"
      },
      "date": {
        "type": "date",
        "format": "yyyy-MM-dd HH:mm:ss"
      }
    }
  }
}
'
// nori 분석기 적용 매핑 추가 매핑이 변경된다면 기존 인덱스 전체를 바꿔야함

curl -X PUT "localhost:9200/notice_index" -H 'Content-Type: application/json' -u elastic:<Pw> -d'
{
  "settings": {
    "analysis": {
      "analyzer": {
        "nori_analyzer": {
          "type": "custom",
          "tokenizer": "nori_tokenizer",
          "filter": ["nori_part_of_speech"]
        }
      }
    }
  },
  "mappings": {
    "properties": {
      "id": {
        "type": "integer"
      },
      "url": {
        "type": "keyword"
      },
      "title": {
        "type": "text",
        "analyzer": "nori_analyzer",  # Nori 분석기 적용
        "fields": {
          "keyword": {
            "type": "keyword",
            "ignore_above": 256
          }
        }
      },
      "content": {
        "type": "text",
        "analyzer": "nori_analyzer"  # Nori 분석기 적용
      },
      "category": {
        "type": "keyword"
      },
      "site": {
        "type": "keyword"
      },
      "date": {
        "type": "date",
        "format": "yyyy-MM-dd HH:mm:ss"
      }
    }
  }
}
'
