curl -X PUT "localhost:9200/notice_index" -H 'Content-Type: application/json' -u elastic:<pw> -d'
{
  "settings": {
    "analysis": {
      "tokenizer": {
        "nori_tokenizer_custom": {
          "type": "nori_tokenizer",
          "decompound_mode": "none" 
        }
      },
      "analyzer": {
        "nori_analyzer": {
          "type": "custom",
          "tokenizer": "nori_tokenizer_custom", 
          "filter": ["nori_part_of_speech"]
        }
      }
    }
  },
  "mappings": {
    "properties": {
      "id": {
        "type": "integer"
      },
      "url": {
        "type": "keyword"
      },
      "title": {
        "type": "text",
        "analyzer": "nori_analyzer"
      },
      "content": {
        "type": "text",
        "analyzer": "nori_analyzer"
      },
      "category": {
        "type": "keyword"
      },
      "site": {
        "type": "keyword"
      },
      "date": {
        "type": "date",
        "format": "yyyy-MM-dd HH:mm:ss"
      }
    }
  }
}
'
curl -X GET "localhost:9200/_cat/indices?v" -u elastic:<pw>   모든 인덱스 출력

curl -X DELETE "localhost:9200/*" -u elastic:<password>

curl -X PUT "localhost:9200/notice_index" -H 'Content-Type: application/json' -u elastic:Pw -d'
{
  "settings": {
    "analysis": {
      "tokenizer": {
        "nori_tokenizer_custom": {
          "type": "nori_tokenizer",
          "decompound_mode": "mixed",  // 복합어 처리 활성화
          "discard_punctuation": "true"  // 문장 부호 무시
        },
        "ngram_tokenizer": {
          "type": "ngram",
          "min_gram": 2,
          "max_gram": 3
        }
      },
      "filter": {
        "stopwords_filter": {
          "type": "stop",
          "stopwords": ["을", "를", "이", "가"]  // 불용어 처리: 주로 한국어 조사
        }
      },
      "analyzer": {
        "nori_analyzer": {
          "type": "custom",
          "tokenizer": "nori_tokenizer_custom",
          "filter": ["lowercase", "stopwords_filter", "nori_part_of_speech"],
          "char_filter": ["html_strip"]
        },
        "ngram_analyzer": {
          "type": "custom",
          "tokenizer": "ngram_tokenizer",
          "filter": ["lowercase", "stopwords_filter"]
        }
      }
    }
  },
  "mappings": {
    "properties": {
      "id": {
        "type": "integer"
      },
      "url": {
        "type": "keyword"
      },
      "title": {
        "type": "text",
        "analyzer": "nori_analyzer",
        "search_analyzer": "nori_analyzer",
        "fields": {
          "ngram": {
            "type": "text",
            "analyzer": "ngram_analyzer",
            "search_analyzer": "ngram_analyzer"
          }
        }
      },
      "content": {
        "type": "text",
        "analyzer": "nori_analyzer",
        "search_analyzer": "nori_analyzer",
        "fields": {
          "ngram": {
            "type": "text",
            "analyzer": "ngram_analyzer",
            "search_analyzer": "ngram_analyzer"
          }
        }
      },
      "category": {
        "type": "keyword"
      },
      "site": {
        "type": "keyword"
      },
      "date": {
        "type": "date",
        "format": "yyyy-MM-dd HH:mm:ss"
      },
      "latitude": {
        "type": "double"
      },
      "longitude": {
        "type": "double"
      }
    }
  }
}'