curl -X PUT "localhost:9200/notice_index" -H 'Content-Type: application/json' -u elastic:<pw> -d'
{
  "settings": {
    "analysis": {
      "tokenizer": {
        "nori_tokenizer_custom": {
          "type": "nori_tokenizer",
          "decompound_mode": "none"  # 복합어를 분리하지 않도록 설정
        }
      },
      "analyzer": {
        "nori_analyzer": {
          "type": "custom",
          "tokenizer": "nori_tokenizer_custom",  # 수정된 토크나이저 사용
          "filter": ["nori_part_of_speech"]
        }
      }
    }
  },
  "mappings": {
    "properties": {
      "id": {
        "type": "integer"
      },
      "url": {
        "type": "keyword"
      },
      "title": {
        "type": "text",
        "analyzer": "nori_analyzer"
      },
      "content": {
        "type": "text",
        "analyzer": "nori_analyzer"
      },
      "category": {
        "type": "keyword"
      },
      "site": {
        "type": "keyword"
      },
      "date": {
        "type": "date",
        "format": "yyyy-MM-dd HH:mm:ss"
      }
    }
  }
}
'
curl -X GET "localhost:9200/_cat/indices?v" -u elastic:<pw>   모든 인덱스 출력

curl -X DELETE "localhost:9200/*" -u elastic:<password>
